<div class="app-form">

    <div class="alert alert-info" ng-if="!fields.length">
        <strong>info:</strong>
        No selected fields.
        <a ui-sref="fields">Please select any</a>
    </div>

    <form ng-if="fields.length" ng-submit="submitForm()">
        <div class="form-group" ng-repeat="field in fields">
            <label for="{{::field.id}}">{{::field.name}} {{(field.required)?'*':''}}</label>
            <div ng-include="'app/ui/form/field-tmpls/' + field.type + '.html'"></div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div class="alert alert-success" ng-if="output.length">
        <strong>Output: </strong>
        {{output | json}}
    </div>

    <div class="alert alert-danger" ng-if="errors.length">
        <strong>Errors: </strong>
        {{errors | json}}
    </div>

</div>