<div class="app-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li ng-repeat="tab in ::tabs" ng-click="selectTab(tab)" ng-class="{'active':tab.isSelected}">
            <a ui-sref="{{::tab.link}}">{{::tab.name}}</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel"
             class="tab-pane active"
             ng-transclude>
        </div>
    </div>
</div>