<div class="app-fields">

    <div class="row">
        <div class="col-sm-12 col-md-4">

            <h4>Search for field</h4>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" id="search" class="form-control" ng-model="searchValue" placeholder="filter by part of a field name">
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm-12 col-md-8">

            <h4>
                Available fields ({{filteredFields.length + " of " + fields.length}})
                <button type="button" ng-click="selectAllFields()" class="pull-right btn btn-default btn-xs">select all</button>
            </h4>

            <div class="alert alert-info" ng-if="!filteredFields.length">
                <strong>info:</strong>
                No search results for query <strong>{{searchValue}}</strong>
            </div>

            <div class="list-group">
                <button type="button" class="list-group-item" ng-click="toggleField(field)" ng-repeat="field in filteredFields = (fields | filter:{ name: searchValue } | orderBy: 'name')">
                    {{::field.name}}
            <span class="badge" ng-if="field.isSelected">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </span>
                </button>
            </div>

        </div>
    </div>

</div>